.footer__link {
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    text-decoration: none;
    color: #fff;
    margin-right: 18px;
    transition: opacity 0.3s linear;
    box-sizing: border-box;
}

.footer__link:hover {
    opacity: .8;
}