.cover {
    max-width: 92.5%;
    margin: 0 auto;
    background-image: url(../../images/background.jpg);
    background-size: cover;
    background-position: center;
    min-height: 57.8125vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    z-index: 1;
    box-sizing: border-box;
}

.cover::before {
    content: "";
    background-color: #2A2C2F;
    opacity: 0.3;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    transition: 0.3s;
}

.cover:hover:before {
    opacity: 0.8;
}

@media screen and (max-width: 1024px) {
    .cover {
        max-width: 100%;
        min-height: 62.5vw;
    }   
}

