.place__link {
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    color: #fff;
    text-decoration: none;
    border-bottom: 1px solid #fff;
    transition: opacity 0.2s linear;
}

.place__link:hover {
    opacity: 80%;
}